img{
    max-width: 100px;
    max-height: 100px;
    align-self: center;
}
.card{
    padding: 20px!important;
    align-self: center;
    text-align: center;
    height: 400px!important;
    border: none!important;
}
.a3m{
    background-color: red;
    color: white;
    font-size: 30pt;
    text-align: center;
    font-weight: 500;
}
.a2001{
    background-color: black;
    color: white;
    font-size: 30pt;
    text-align: center;
    font-weight: 500;
}
.banner {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #009045;
    color: #ffffff;
    font-size: 30pt;
    text-align: center;
    font-weight: 500;
}
.center1 button {
    margin: 5px;
}
.center1 {
    background-color: whitesmoke;
    padding: 5px;
}
.logo{
    min-height: 0!important;
}
.center1{
    text-align: center;
}
.foto-principal{
    max-width: none!important;
    max-height: none!important;
    margin: 10px;

}
.bi-arrow-up-circle-fill{
    font-size: 40pt;
    float: right;
    margin-right: 30px;
    color: #009045;
    animation: moving1 1.5s infinite;
    animation-fill-mode: forwards;
    position: fixed;
    margin-left: 95vw;
    margin-top: 90vh;
    z-index: 9999;
}
@keyframes moving1 {
    0% {
      transform: translateY(0px);
    }
    70%{
        transform: translateY(7px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @media screen and (max-width: 500px) {

    .bi-arrow-up-circle-fill{
        margin-left: 80vw;
        margin-top: 85vh;
    }
    .foto-principal{
        max-width: 70vw!important;
    }
  }